In [1]:
import pandas as pd

data = pd.read_csv('../Original Data/10_POMORSKIE.csv')
# Czyszczenie danych

data = data.drop(data.columns[[0]], axis=1)
data['Płeć kupującego'] = data['Płeć kupującego'].replace(['K','M','bd.'],['Kobieta','Mężczyzna','Brak danych o płci'])
data['Wiek kupującego'] = data['Wiek kupującego'].astype('Int64')
data.head(15)

    Dni od zakupu       Marka  Wiek kupującego     Płeć kupującego  Ocena
0               5        Beko               38  Brak danych o płci    5.0
1               4       Dyson               37  Brak danych o płci    3.5
2              10     Samsung               20  Brak danych o płci    2.5
3              14       Tefal               48             Kobieta    2.5
4               7  Electrolux               39  Brak danych o płci    4.5
5               5     Samsung               50           Mężczyzna    1.5
6               7  Electrolux               40           Mężczyzna    2.0
7              10       Tefal               32             Kobieta    3.0
8               7       Tefal               30  Brak danych o płci    4.0
9               8     Samsung             <NA>  Brak danych o płci    1.0
10              2        Beko               41  Brak danych o płci    2.0
11              6     Samsung               40           Mężczyzna    2.5
12              9  Electrolux               36           Mężczyzna    1.0
13              2  Electrolux               39           Mężczyzna    2.5
14              9       Tefal             <NA>             Kobieta    1.0

In [2]:
# Zapis wyczysczonych danych do folderu Analysis Data
data.to_csv(r'..\Analysis Data\converted_data.csv',index=False)